%h1
  .page-header
    Edit Task

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @project.name, project_path(@project)
  %li= link_to 'Tasks', project_tasks_path(@project)
  %li= link_to @task.description, project_task_path(@project, @task)
  %li.active Edit Task

= render partial: 'form', locals: {name_of_button: "Update Task"}
