%h1
  .page-header
    = "Tasks for #{@project.name}"
    = link_to 'New Task', new_project_task_path(@project), class: "btn btn-info pull-right"

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @project.name, project_path(@project)
  %li.active Tasks


%table.table
  %thead
    %tr
      %th{:colspan => "1"}
        %strong Description
      %th{:colspan => "2"}
        %strong Due Date

  %tbody
    -@tasks.each do |task|
      %tr
        %td.col-md-2
          -if task.complete
            %s= link_to task.description, project_task_path(@project, task)
            .badge
              = task.comments.count
          -else
            = link_to task.description, project_task_path(@project, task)
            .badge
              = task.comments.count


        %td.col-md-2
          -if task.due_date
            =task.due_date.strftime("%m/%d/%Y")
          -else

        %td.text-right
          =link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info"
          =link_to '', project_task_path(@project, task), method: "delete", class: "btn btn-danger", class: "glyphicon glyphicon-remove", data: {confirm: "Are you sure you want to delete this task?"}
