%h1
  .page-header
    -if @task.complete ==true
      %s= @task.description
    -else
      = @task.description

    = link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-info pull-right"

%br

  %ol.breadcrumb
    %li= link_to 'Projects', projects_path
    %li= link_to @project.name, project_path(@project)
    %li= link_to 'Tasks', project_tasks_path(@project)
    %li= @task.description

  %h4
    - if @task.due_date
      Due On:
      =@task.due_date.strftime("%m/%d/%Y")

%h3 Comments



- @task.comments.each do |comment|
  .row
    .col-md-3
      = link_to "#{comment.user.full_name}", user_path(comment.user)
      %p.text-muted
        = time_ago_in_words(comment.created_at) + ' ago'
    .col-md-9
      %p= comment.description


= form_for [@task, @comment], html: {class: "form-horizontal"} do |f|
  .col-md-offset-3.col-md-9
    .form-group
      = f.text_area :description, class: "form-control"
    .form-group
      = f.submit "Add Comment", class: "btn btn-info"
