= form_for @user, html: {class: "form-horizontal"}  do |f|
  = render partial: "shared/errors", locals: {object: @user}
  .form-group
    .col-md-2{:align => "right"}
      = f.label :first_name, class: "control-label text-capitalize"
    .col-md-5
      = f.text_field :first_name, class: "form-control"

  .form-group
    .col-md-2{:align => "right"}
      = f.label :last_name, class: "form-label text-capitalize"
    .col-md-5
      = f.text_field :last_name, class: "form-control"

  .form-group
    .col-md-2{:align => "right"}
      = f.label :email, class: "form-label"
    .col-md-5
      = f.email_field :email, class: "form-control"

  .form-group
    .col-md-2{:align => "right"}
      = f.label :password, class: "form-label"
    .col-md-5
      = f.password_field :password, class: "form-control"

  .form-group
    .col-md-2{:align => "right"}
      = f.label :password_confirmation, class: "form-label text-capitalize"
    .col-md-5
      = f.password_field :password_confirmation, class: "form-control"

  .form-group
    .col-md-2{:align => "right"}
      = f.label :pivotal_tracker_token, class: "form-label text-capitalize"
    .col-md-5
      = f.text_field :pivotal_tracker_token, class: "form-control"

  - if current_user.admin
    .form-group
      .col-md-offset-2.col-md-10
        = f.check_box :admin
        = f.label :admin

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit name_of_button, class: "btn btn-primary"
      = link_to 'Cancel', users_path(), class: "btn btn-default"

  .form-group
    .col-md-offset-2.col-md-5{:align => "center"}
      - unless @user.new_record?
        .well
          = link_to "Delete User", user_path(@user), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"}
