<h1>
  <div class="page-header">
    <%= link_to 'New User', new_user_path(@user), class: "btn btn-info pull-right" %>
    Users
  </div>
</h1>

<table class="table">
  <thead>
    <tr>
        <th colspan= 1>
          <strong>Name</strong>
        </th>
        <th colspan= 1>
          <strong>Email</strong>
        </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
          <td class= "col-md-2">
            <%= user.first_name + " " + user.last_name %>
          </td>

          <td class= "col-md-8">
            <%= user.email %>
          </td>


        <td class = "text-right">
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-info" %>
          <%= link_to 'Delete', user_path(user), method: "delete", class: "btn btn-danger" %>
        </td>
    </tr>
    <% end %>
  </tbody>

</table>
