= form_for @project, html: {class: "form-horizontal"}  do |f|
  .form-group
    .col-md-2{:align => "right"}
      = f.label :name, class: "control-label"
    .col-md-6
      = f.text_field :name, class: "form-control"
  .form-group
    .col-md-6.col-md-offset-2
      = f.submit name_of_button, class: "btn btn-primary"
      = link_to "Cancel", projects_path, class: "btn btn-default"
